*,
*::before,
*::after {
    box-sizing: border-box;
}

/*  FIX FÖR MONICA */
#monica-content-root {
    display: none;
}

/* För att göra layouten responsiv */
@media only screen and (max-width: 600px) {
    body {
        font-size: 20px;
        background-size: cover;
        background-attachment: fixed;
    }

    h1{
        left: 50px;
    }

    div{
        display: grid;
        justify-content: center;
    }
}

body {
    margin: 0;
    background-image: url(./bilder/bakgrund-liten.jpg);
    background-size: cover;
    background-attachment: fixed;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;
}

/* För att göra layouten responsiv */
@media only screen and (max-width: 600px) {
    body {
        font-size: 20px;
        background-size: cover;
        background-attachment: fixed;
    }

    h1 {
        left: 50px;
    }

    .nav {
        display: grid;
        justify-content: center;
    }
}

/* Header-styling */
header {
    background-color: #F8C471;
    color: #000;
    padding: 20px;
    text-align: center;
}

.topbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

img {
    background-size: auto;
    border-radius: 10px;
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

nav li {
    display: block;
    float: left;
    margin-right: 10px;
}

nav ul div {
    margin-right: 20px;
}


nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    margin-right: 50px;
}

/* Receptbox-styling */

.receptbox {
    /* border: 1px solid #000; */
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;

    font-size: 1.2rem;
}

.receptbox ol li {
    margin-bottom: 10px;
}

/* ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
} */

p {
    margin-left: 5px;
}


.mb {
    margin-bottom: 15px;
}


/* Footer-styling */
footer {
    background-color: #F8C471;
    color: #000;
    text-align: left;
    padding: 20px;
    margin-top: 40px;
}

/* Checkbox-styling */
/* input[type="checkbox"] {
    display: none;
} */

/* ol li {
    position: relative;
    padding-left: 25px;
}

ol li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
}

input[type="checkbox"]:checked + ol li::before {
    content: "";
    border-color: #000;
    background-color: #000;
}

input[type="checkbox"]:checked + ol li {
    text-decoration: line-through;
} */
